---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4

# Allman
# BreakBeforeBraces: Allman

# K&R style
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true

# Inner spacing
# SpacesInParentheses: true
# SpacesInSquareBrackets: true
# SpacesInContainerLiterals: true

# Constructor initializer lists
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

# Column limit
ColumnLimit: 120

# Alignment
# AlignConsecutiveAssignments: true
# AlignConsecutiveBitFields: true
# AlignConsecutiveDeclarations: true

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false

AlignOperands: Align
PointerAlignment: Left

# Includes
SortIncludes: false
IncludeBlocks: Preserve
