---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 2
ContinuationIndentWidth: 2

# Braces
BreakBeforeBraces: Allman

# Spaces
SpacesInParentheses: true
SpacesInSquareBrackets: true
SpacesInContainerLiterals: true

# Constructor initializer lists
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2

# Column limit
ColumnLimit: 120

# Alignment
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AlignOperands: Align
PointerAlignment: Left

# Includes
SortIncludes: true
IncludeBlocks: Preserve
